<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="GoogleApiContext" value="017576662512468239146:omuauf_lfve"/>
    <add key="GoogleApiKey" value="AIzaSyDDdagLf6Sui7SX9CjfyeExkWNgyJqdIVk"/>

    <add key="BingApiKey" value="0a53f58667c04d369b3f538bbf3fb7af"/>
  </appSettings>  
</configuration>